set -euo pipefail

source .direnvrc

eval "$(lorri direnv)"

###
# what follows are aliases/scripts for convenient access to
# tasks useful in local development
#
# note: if you can't find a definition here, it's likely
# defined as a "localnixop" in ./nix/scripts/
# Generally only simple scripts will live in this file.
###


helpme() {
    echo -e "\

\e[33;1mNixos-Config DevShell Manual\e[m
\e[36;1mformat\e[m: make things pretty
"
}
export_function helpme

helpme
