name: NixOS
concurrency: nixos

on:
  pull_request:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - "NOTES.md"
      - ".gitignore"

jobs:
  build-numenor:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: thiagokokada/free-disk-space@main
        with:
          tool-cache: true
          usrmisc: true
          usrlocal: true
          opt: true
          varcache: true

      - uses: actions/checkout@v5

      - name: "Install Nix ❄️"
        uses: DeterminateSystems/determinate-nix-action@v3.15.2

      - name: "Install Cachix ❄️"
        uses: cachix/cachix-action@v16
        with:
          name: workflow-nixos-config
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: "Build NixOS config ❄️"
        run: |
          nix build .#nixosConfigurations.numenor.config.system.build.toplevel --override-input secrets nixpkgs

  build-flexbox:
    runs-on: ubuntu-latest
    needs: [build-numenor]
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: thiagokokada/free-disk-space@main
        with:
          tool-cache: true
          usrmisc: true
          usrlocal: true
          opt: true
          varcache: true

      - uses: actions/checkout@v5

      - name: "Install Nix ❄️"
        uses: DeterminateSystems/determinate-nix-action@v3.15.2

      - name: "Install Cachix ❄️"
        uses: cachix/cachix-action@v16
        with:
          name: workflow-nixos-config
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: "Build NixOS config ❄️"
        run: |
          nix build .#nixosConfigurations.flexbox.config.system.build.toplevel --override-input secrets nixpkgs
